<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benvingut</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Gestió de Recursos per <%= user.name %>!</h1>
        <h2><%- htmlMessage %></h2>
    </header>
    <main>
        <section>
            <h2>Llista de Recursos</h2>
            <ul class="product-list">
                <% data.reserves.forEach(reserva=> { %>
                    <li class="product-item">
                        <span>Tipus: <%= reserva.tipus %></span>
                        <span>Hora inici: <%= reserva.hora_inici %> </span>
                        <span>Hora final: <%= reserva.hora_final %> </span>
                        <span>Estat: <%= reserva.estat %> </span>
                        <span><a href="/reserves/<%=reserva.reserves_id%>"> Detall Reserva</a></span>
                        <span><a href="/reserves/editarReserves/<%=reserva.reserves_id%>"> Editar Reserva</a></span>
                    </li>
                    <% }); %>
            </ul>
        </section>
    </main>
</body>

</html>